# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Other files
*.DS_Store
